# gradle build
build/
.gradle/

#gradlew
gradle/
gradlew
gradlew.bat

# maven build
target/

# eclipse
.classpath
.project
.settings/
*.iml

# idea intellij
bin/
.idea/


# macintosh
.DS_Store


#editor litter
*~

